html5rdf==1.2.1
graphifyy==0.9.17
huggingface-hub==1.23.0
llama-index-core==0.14.23
owlrl==7.6.2
packaging==26.2
prettytable==3.18.0
pyparsing==3.3.2
pyshacl==0.40.0
pyturso==0.6.1
PyYAML==6.0.3
rdflib==7.6.0
sentence-transformers==5.6.0
wcwidth==0.8.2
